@charset "UTF-8";


    


@media  screen and (max-width: 768px) {
    .home {
        width: 90%;
    }

    

    #burguer {
        background-color: transparent;
        color: white;
        display: block;
        padding: 10px;
        font-size: 30px;
        text-align: center;
        cursor: pointer;
    
    }

    #burguer:hover {
        background-color: white;
        color: gray;
    }

    


    .cabecalho .menu {
        text-align: center;
        justify-content: center;
        display: none;
        
    }
    .cabecalho .menu ul{
        flex-direction: column;
        width: 100vw;
        gap: 0px;
        
        
    }
    .cabecalho .menu ul li {
        padding-top: 5px;
        margin: 0px;
    }

    .cabecalho .menu ul li a{
        align-items: center;
        justify-content: center;
    }



}