@charset "UTF-8";

body {
    background-color: rgb(97, 110, 170);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}

h1 {
    color: blue;
    background-color:aliceblue;
}
h2 {
    color: rgb(212, 4, 202);
}
p {
    text-align: justify;
    color: aliceblue;
}





