@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}



.cabecalho {
    background-color: rgba(0, 0, 0, 0.288);
    color: white;

}

.cabecalho .titulo {
    padding: 40px 0px;
    text-align: center;
    font-size: 40px;

}

.cabecalho .menu {
    display: flex;
    

}

.cabecalho .menu ul  {
    display: flex;
    gap: 20px;
    font-size: 13px;
    font-weight: bold;
    list-style: none;
   
}

.cabecalho .menu ul li a{
    background-color: gray;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 7px ;
    text-decoration: none;
    
    
    
}
.cabecalho .menu ul li a:hover {
    background-color: white;
    color: gray;
}

    



.home {
    background-color: white;
    width: 760px;
    margin: 5px auto;
    padding: 5px;
    text-align: justify;
    border-radius: 10px;

}

.home .titulo {
    font-size: 2em;
   margin: 10px;

}

.home p {
    text-indent: 30px;
    margin: 10px;
    line-height: 1.4em;
}


